{% extends 'layout.html' %}

{% block content %}

    <div class="sidebar">
        <div class="menu_option">
            Profile
        </div>
        <div class="menu_option">
            Settings
        </div>
        <div class="menu_option">
            Additional Info
        </div>
        <a href="https://www.youtube.com/watch?v=RJEKMbD_kEk&list=PLOYHgt8dIdow6b2Qm3aTJbKT2BPo5iybv&index=1">
            <div id="link" class="menu_option">
                'Visit Zelent Page'
            </div>
        </a>
    </div>

    <div class="content">
        <h3>Main Page</h3>


        <div class="tile">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sagittis tincidunt
            pretium. Etiam facilisis vehicula arcu, eu accumsan justo scelerisque nec.
            Orci varius natoque penatibus et magnis dis parturient montes, nascetur
            ridiculus mus. Mauris tempus a lacus eget placerat. Orci varius natoque
            penatibus et magnis dis parturient montes, nascetur ridiculus mus.
            Duis et eleifend tortor. Suspendisse efficitur dignissim auctor.
            Nulla facilisi. Donec sit amet fermentum nulla, vel sodales lorem.
            In lorem elit, tristique eget laoreet in, facilisis quis tellus.
        </div>
        <br>


        <div class="tile">
            Nulla faucibus, risus vel laoreet dignissim, magna lorem fermentum justo,
            vel lacinia lorem nisi nec libero. Nulla mollis erat sit amet sapien interdum faucibus.
            Donec nibh urna, vehicula a sagittis eu, gravida vel justo. Maecenas tincidunt
            dignissim diam, vel consequat diam laoreet sed. Sed congue leo ac velit laoreet euismod.
            Sed nec erat et leo pretium tincidunt. Praesent eu iaculis augue, sed laoreet turpis.
            Sed feugiat consequat congue. Sed vitae ligula placerat, cursus libero sed,
            efficitur magna. Class aptent taciti sociosqu ad litora torquent per conubia nostra,
            per inceptos himenaeos. Nam sed sapien sed neque maximus tincidunt nec non tortor.
            Donec ac ultrices risus. Mauris vehicula posuere iaculis.
        </div><br>


        <div class="tile">
            Nulla lorem nunc, auctor imperdiet sem eget, mollis aliquam libero.
            Interdum et malesuada fames ac ante ipsum primis in faucibus. Nam vitae
            tortor massa. Praesent vehicula in diam quis lobortis. Sed dictum, ipsum nec
            pellentesque sagittis, neque tortor lacinia lorem, eget accumsan leo quam ac enim.
            Duis accumsan, risus at ultricies cursus, lorem tortor feugiat dolor,
            quis viverra ante tortor eu dolor. Donec maximus cursus tortor vitae condimentum.
            Donec id placerat dolor. Etiam vitae urna ex. Pellentesque ornare tortor diam.
            In luctus finibus ligula, hendrerit tristique massa ultricies in.
            Quisque commodo non dolor quis commodo.
        </div><br>


        <div class="tile">
            In sagittis quam eget mi cursus, vitae faucibus erat ultricies.
            Integer in tempor est. Nunc nisi orci, laoreet sit amet rhoncus eget,
            tempor at tellus. Quisque lacinia metus ligula, at semper nisi condimentum
            sit amet. Vestibulum tortor purus, luctus luctus consectetur tincidunt,
            malesuada at metus. Cras metus lectus, euismod non nulla a, sodales molestie dolor.
            Suspendisse sodales non quam sed varius. Vivamus varius magna id nibh congue aliquam.
            Duis ultricies arcu ut mi interdum malesuada. Integer quis semper velit.
        </div><br>

    </div>

    <div class="right_bar">
        <h3>Overview</h3>

        <section class="stocks_board">
        <script type="text/javascript" src="https://static.stooq.com/pp/gc.js"></script>
        </section>
        <br/>
        <br/>

        <section class="stocks_board">
            <script type="text/javascript" src="https://static.stooq.com/pp/wc.js"></script>
        </section>
        <br/>
        <br/>

        <section class="stocks_board">
            <script type="text/javascript" src="https://static.stooq.com/pp/cc.js"></script>
        </section>


    </div>
    <div style="clear: both;"></div>


{% endblock %}